
.big_text
{
    line-height:110%;
}

.contact_text
{
    line-height:110%;
}

.text_whatWeOffer
{
    font-size:20px;
    color:#000000;
}


.site-branding
{
    margin-top:45px;
}

.header-right-wrapper
{
    background-color:#D40101;
}


.globalFooter, .globalFooter-legal, .globalFooter-logos {
    display: flex;
    width: 100%;
}

.globalFooter {
    -webkit-box-align: center;
    align-items: center;
    background: #000;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 70px 20px 40px;
    position: relative;
    z-index: 100;
    margin-top: 50px;
}

.globalFooter-legal, .globalFooter-logos {
    max-width: 860px;
}

.globalFooter-logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 30px 0;
}

.globalFooter-logos a {
    padding: 0 10px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.globalFooter-legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.globalFooter-legal--links {
    text-align: center;
    text-decoration: underline;
}



.globalFooter-legal p {
    text-align: center;
}

.globalFooter-legal a {
    padding: 0;
    position: relative;
}

.globalFooter-legal a, .globalFooter-legal p, .globalFooter-legal span {
    color: #fff;
    font-family: din-2014, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 12px;
    line-height: 0.75rem;
    letter-spacing: 0;
}

.header-right-wrapper
{
    height:55px;
}


.custom-logo-icon
{
    margin-left:10px;
    padding-top:10px;
    height:55px;
    position:absolute;
    left:50px;
    margin-top:-5px;
}

.globalFooter-logos .custom-logo-icon
{
    margin-left:0px;
    margin-top:15px;
    height:65px;
    position:relative;
    left:0px;
}

.icon-ubisoft-logo
{
    margin-top:5px !important;
    display:none!important;
}

.valueBox
{
    transition: box-shadow .5s;
    margin:5%;
    border-radius: 10px;
    border: 1px solid #dedede;
    height:100%;
    padding:10%
}

.valueBox:hover
{
    box-shadow: 1px 5px 30px 0px rgba(0,0,0,0.2);
}



