.bg-blue.text-center {
text-align: center
}

.bg-violet {
    background-color: #856396;
}

.header {
    background-color: aqua;
}

.button {
    background-color: antiquewhite;
    color:black;
    padding: 7px 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button.button-save{
    background-color: green;
}

.button.button-delete{
    background-color: darkred;
}

.post-body-content{
    overflow: hidden;
}

.circle-border{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.image-in-phone{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 55px;
}

.background-image{
    background: url("office.png") center no-repeat;
    background-size: 100%;
    opacity: 1;
}

.bg-yellow{
    background-color: #ffd507;
}

