.bg-blue.text-center {
text-align: center
}

.bg-violet {
    background-color: #856396;
}

.bg-dark-transparent{
    background-color: #333333;
    opacity: 0.95;
}

.header {
    background-color: aqua;
}

.button {
    background-color: antiquewhite;
    color:black;
    padding: 7px 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button.button-save{
    background-color: green;
}

.button.button-delete{
    background-color: darkred;
}

.post-body-content{
    overflow: hidden;
}

.circle-border{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.image-in-phone{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 55px;
}

.background-image{
    background: url("office.png") center no-repeat;
    background-size: 100%;
    opacity: 1;
}

.bg-yellow{
    background-color: #ffd507;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


.overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h2 {
    color: white;
    font-weight: bold;
    font-size: 4em;
    margin: 4rem 5rem;
    mix-blend-mode: screen;
    padding: 0.5em 1em;
    text-align: center;
}

.overlay button {
    mix-blend-mode: screen;
    color: white;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: solid;
}

.overlay button:hover {
    transition: 0.2s;
    background-color: blueviolet;
}

.violet-text{
    color: blueviolet;
}

.violet-text left{
    text-align:left
}

.img-support
{
    width: 100%;
    height: auto;
}
